<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Story of Gymnastics</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>The Story of Gymnastics</h1>
        <div class="login-link">
            <span id="user-status">
                <a href="/templates/login.html" class="button" id="login-button">Anmelden</a>
            </span>
        </div>
    </div>
    
    <div class="toggle-sidebar">☰ Menü</div>
    <div class="content">
      <div class="sidebar">
        <h3>Disziplinen</h3>
        <a href="/templates/index.html">Startseite</a>
        <a href="/templates/Disziplinen/Barren.html">Barren</a>
        <a href="/templates/Disziplinen/Boden.html">Boden</a>
        <a href="/templates/Disziplinen/Reck.html">Reck</a>
        <a href="/templates/Disziplinen/Ringe.html">Ringe</a>
        <a href="/templates/Disziplinen/Sprung.html">Sprung</a>
        <h3>Blog</h3>
        <a href="/templates/Blog/YourJourney.html">Your Journey</a>
        <a href="/templates/Blog/Was-ist-Geräteturnen.html">Was ist Geräteturnen?</a>
      </div>
      
        <div class="main-content">
            <div class="center-content">
                <h2>The Story of Gymnastics</h2>
                <p>Hier können Sie die Geschichte des Geräteturnens erfahren...</p>
                <!-- Embed Video -->
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/m4ElurM00uQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <p>&copy; 2024 Geräteturnen Informationen</p>
    </div>

    <script src="/js/scripts.js"></script>
</body>
</html>
